In [32]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [343]:
c = 0
def fuzzyCheck(row):
    global c
    text = row[0]
    if pd.isnull(text):
        return [0 for _ in range(len(df2))]
    if c%100 == 0:
        print c
    c = c + 1
    return [fuzz.ratio(text, row['full_name']) if not pd.isnull(row['full_name']) else 0 for index, row in df2.iterrows()]
def getMeanValue(row):
    return np.mean(np.array([x for x in row]), axis=0).tolist()
def getMaxIndexes(row):
    # даже не спрашивай, я хз почему оно не хочет отдавать массивы -_-
    return ' '.join([str(x) for x in np.argwhere(row[0] == np.amax(row[0]))])
def getMaxValues(row):
    sorting = np.sort(row[0])
    # даже не спрашивай, я хз почему оно не хочет отдавать массивы -_-
    return ' '.join([str(x) for x in sorting[-2::]])

## Using fuzzywuzzy to get ratings (0-100); eta for 1000x1000 - 5min 3s

In [54]:
%time df1['check_name'] = df1[['full_name']].apply(fuzzyCheck, axis=1)

0
100
200
300
400
500
600
700
800
900
Wall time: 5min 3s

,first_name,last_name,email,Phone,Adress,full_name,check_name
0,Sarah,Reyes,sreyes0@ed.gov,86-(204)143-1479,7 Darwin Park,Sarah Reyes,"[17, 10, 27, 27, 18, 31, 17, 29, 23, 17, 20, 1..."

In [130]:
# didn't want to waste a time for processing so i'm using just a random variables
df1['check_level2'] = ''
df1['check_level2'] = df1['check_level2'].apply(lambda x: [10 for _ in range(len(df2))])

,first_name,last_name,email,Phone,Adress,full_name,check_name,check_name2,check_level2,Mean_Rate
0,Sarah,Reyes,sreyes0@ed.gov,86-(204)143-1479,7 Darwin Park,Sarah Reyes,"[0, 0, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, ...",19,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[5.0, 5.0, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 9.0, ..."
1,Catherine,Garrett,cgarrett1@google.com.br,48-(485)685-3252,53868 Surrey Road,Catherine Garrett,"[14, 8, 14, 43, 7, 19, 28, 30, 44, 14, 23, 22,...",44,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[12.0, 9.0, 12.0, 26.5, 8.5, 14.5, 19.0, 20.0,..."

In [161]:
# calculating mean value
df1['Mean_Rate'] = df1[['check_name', 'check_level2']].apply(getMeanValue, axis=1)

## Getting results

In [344]:
# max value indexes
df1['Best_Match_Index'] = df1[['Mean_Rate']].apply(getMaxIndexes, axis=1).apply(lambda x: x.split()) #да, как-то не очень
# max value - спецом добавил таким способом, чтобы в случае чего можно было не только топовое значение получать.
df1['Best_Match_Value'] = df1[['Mean_Rate']].apply(getMaxValues, axis=1).apply(lambda x: x.split())

In [145]:
a = [[10, 50, 100], [0, 0, 0], [0, 0, 0]]

In [146]:
c = np.array([i for i in a])
np.mean(c, axis=0)

array([  3.33333333,  16.66666667,  33.33333333])

In [94]:
df1.iloc[0]['check_name'][856]

80

In [47]:
df1 = pd.read_excel('set1.xlsx')
df2 = pd.read_excel('set2.xlsx')

In [48]:
df1['full_name'] = df1['first_name'] + ' ' + df1['last_name']
df2['full_name'] = df2['first_name'] + ' ' + df2['last_name']

In [37]:
df1.head(2)

,first_name,last_name,email,Phone,Adress,full_name,check_name
0,Sarah,Reyes,sreyes0@ed.gov,86-(204)143-1479,7 Darwin Park,Sarah Reyes,0
1,Catherine,Garrett,cgarrett1@google.com.br,48-(485)685-3252,53868 Surrey Road,Catherine Garrett,0

In [30]:
row['full_name']

u'Sarah Reyes'